<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <!--<add name="ProductStoreConnection" providerName="System.Data.Sqlclient" connectionString="Data Source=host.docker.internal,1433;Initial Catalog=ProductStore;Integrated Security=False;User Id=sa;Password=1234;MultipleActiveResultSets=True"/>-->
    <add name="ProductStoreConnection" providerName="System.Data.Sqlclient" connectionString="Data Source=.;Initial Catalog=ProductStore;Integrated Security=False;User Id=sa;Password=1234;MultipleActiveResultSets=True"/>
  </connectionStrings>
</configuration>